@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  overscroll-behavior: none;
}

@keyframes flash-overlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.animate-flash-overlay {
  animation: flash-overlay 0.3s ease-in-out;
}
